{% set page = 'home' %}
{% extends "./parts/_layout.njk" %}

{% block main %}
<link rel="stylesheet" href="{{ root }}assets/css/main_home-section.css"><script> </script>
<main id="main" role="main" tabindex="-1">
  <div class="container">
    {% include './parts/_video-player-sample.njk' %}
  </div>
</main>
{% endblock %}