{% set page = 'section' %}
{% set type = 'section' %}
{% extends "./parts/_layout.njk" %}

{% block main %}
<main id="main" role="main" tabindex="-1">
  <div class="container">
  </div>
</main>
{% endblock %}