@charset "UTF-8";

// vendors
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss"; 
@import "../../bower_components/rocket/src/scss/_rocket.scss";
@import "vendors/browsehappy";
// @import "vendors/owl-carousel2";

// helpers
@import "helpers/variables";
@import "helpers/placeholders";

// base
@import "../../bower_components/inuit-normalize.css/generic.normalize";
@import "base/reset";
@import "base/ad";
@import "base/typography";

// components
// @import "components/icon-font";
@import "components/icon";
@import "components/panel";
@import "components/alert";
@import "components/button";
@import "components/form";
@import "components/table";
@import "components/breadcrumb";
@import "components/pagination";
@import "components/dropdown";

// layout
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";
@import "layout/sidebar";

// pages
@import "pages/home";
@import "pages/section";
@import "pages/article";
@import "pages/contact";

@import "base/print";
