.sass-cache
*.map
*.scssc
*.swp
*.DS_Store
*.json
.env
yarn-error.log

/bower_components/
/node_modules/

# puppeteer
/pptruser/
/test/puppeteer/**/*.png

# gemini
/gemini/report/
/gemini/screenshot/

LICENSE