.sass-cache
*.map
*.scssc
*.swp
*.DS_Store
.env

/bower_components/
/node_modules/

# puppeteer
/pptruser/
/test/puppeteer/new/*.png
/test/puppeteer/diff/*.png
/test/puppeteer/temp/reference/*.png
/test/puppeteer/temp/new/*.png

# gemini
/gemini/report/
/gemini/screenshot/

LICENSE