.sass-cache
*.map
*.scssc
*.swp
.env

*.DS_Store
*.codekit
*.sublime-project
*.sublime-workspace

/.codekit-cache/
/bower_components/
/node_modules/
**/sourcemaps/

# W3C Errors
/w3cErrors/screenshot/
/w3cErrors/*.json

# gemini
/gemini/report/
/gemini/screenshot/

#backstop
/backstop_data/

package.json
README.html
changelog.html
LICENSE