input,
button,
select,
textarea {
  padding: 0.5em 1em;
  font-size: rem(16px);
  font-family: inherit;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #bbb;
  box-sizing: border-box;
  border-radius: 0;
  &.error {
    border-color: map-get($alert, danger);
  }
}
[type="radio"],
[type="checkbox"] {
  padding: 0;
  border: 0;
}

// select {
//   background: #fff url('../img/down-angle1.svg') 100% 50% no-repeat;
//   background-position: calc(100% - 1.2em) 50%;
//   background-size: 20px;
// }

textarea {
  padding: 1em;
}

.form-one-row {
  position: relative;
  input {
    display: block;
    width: 100%;
  }
  button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.message-error,
.message-success {
  display: block;
  font-weight: normal;
  margin: 10px 0;
  padding: 10px 16px;
  a {
    color: $c-brand;
    text-decoration: underline;
  }
  .full-article & li {
    margin: 0;
    color: map-get($alert, danger);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.message-error {
  color: map-get($alert, danger);
  background: rgba(map-get($alert, danger), 0.07);
  li:not(:last-child) { margin-bottom: 0.5em; }
  a { text-decoration: underline; }
}
.message-success {
  color: map-get($alert, success);
  background: rgba(map-get($alert, success), 0.07);
}