// common
//-----------------------------
//typography
//common style
//site header
//site footer 

// typography
h1, h2, h3, h4, h5, h6, p { margin: 0; }
time { @include rems(font-size, 12); color: #666; }

// common style
body { overflow-x: hidden; }
[class^="icon-"]::before, 
[class*=" icon-"]::before,
[class^="icon-"]:before, 
[class*=" icon-"]:before { display: none; } // reset chrome icon-font
img.full { width: 100%; display: block; }
a {
  text-decoration: none;
  color: $text-color;
  &:hover { text-decoration: underline; }
}
button,
input,
select { line-height: normal !important; }
button:focus,
input:focus,
select:focus,
textarea:focus {outline: 0; }
button { border: none; }
blockquote {
  margin: 0 2em 2em 1.5em;
  padding-left: 1.2em;
  line-height: 1.5;
  font-family: Georgia, serif;
  font-style: italic;
  color: #777;
  border-left: 2px solid #888;
  .auther { 
    color: #333; 
    text-transform: capitalize;
    margin-left: .5em; 
    // &:before {
    //  content: '_';
    // }
  }
}
.caps { 
  text-transform: uppercase; 
  @include rems(font-size, 14); 
  font-weight: normal; 
}
.hidden { display:none; }
.quiet { color:#666; }
.loud { color:#000; }
.highlight { background:#ff0; }
.top { margin-top:0 !important; padding-top:0 !important; }
.bottom { margin-bottom:0 !important; padding-bottom:0 !important; }
.light { font-weight: normal; }
.thin { font-weight: lighter; }
.center { text-align: center; }


// site header
// site footer
