// common
// ===============

// == small parts == //
// .container { @include container(); }

// figure {
//   &.centered {
//     max-width: 600px;
//     margin: 0 auto;
//     img { width: 100%; }
//   }
//   @include breakpoint('min' 600) {
//     &.left,
//     &.right {
//       img { width: 100%; }
//     }
//   }
//   @include breakpoint('min' 600) {
//     &.left,
//     &.right {
//       max-width: 300px;
//       margin-bottom: 10px;
//     }
//     &.left {
//       float: left;
//       margin-right: 20px;
//     }
//     &.right {
//       float: right;
//       margin-left: 20px;
//     }
//   }
// }

// == typography == //
// .header-1 { @include type(47px 600 1.2); }
// .header-2 { @include type(47px 600 1.2); }
// .header-3 { @include type(20px 700 uppercase); }
// .header-4 { @include type(15px 700 uppercase); }
// .header-5 { @include type(15px 700); }
// .header-6 { @include type(47px 600 1.2); }

// .has-style {
//   h1, h2, h3, h4, h5 { margin-bottom: 10px; }
//   h1 { @include type(34px 1.2); }
//   h2 { @include type(26px 1.2); }
//   h3 { @include type(22px 1.3); }
//   h4 { @include type(18px 1.3); }
//   h5 { @include type(13px 1.4); }
//   p, address { 
//     @include type(15px 1.5); 
//     margin-bottom: 1.5em;
//   }
//   a {
//     color: $color-link;
//     &:hover { text-decoration: underline; }
//   }
// }

// == basis == //
// $ul-mg: 2em;
// .has-style {
//   section { margin-bottom: 50px; }
//   ul, ol { margin-left: $ul-mg; }
//   ol {
//     counter-reset: ol;
//     > li:before {
//       counter-increment: ol;
//       content: counters(ol, '.') ' ';
//       display: inline-block;
//       width: $ul-mg;
//       margin-left: -$ul-mg;
//     }
//   }
//   ul > li { list-style-type: square; }
//   li {
//     @include type(14px 1.7);
//     margin-bottom: 1em;
//   }
//   form {
//     label {
//       display: block;
//       margin-bottom: 0.3em;
//     }
//     ul, ol {
//       list-style: none;
//       margin-left: 0;
//     }
//     li:before { display: none; }
//   }
//   label.required:after {
//     content: ' *';
//     color: map-get($alerts, danger);
//   }
// }

