// set min-width to 320
html, body { min-width: 320px; }
body { margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li { margin: 0; }
figure { margin: 0; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

// remove the white space under images
figure img, a > img { vertical-align: bottom; }

// reset form styles
label { cursor: pointer; }
[type="search"], select { -webkit-appearance: none; }

// reset link style
a {
  text-decoration: none;
  color: inherit;
}

// area[href],
// [contentEditable],
// details,
// a[href],
// input:not([disabled]),
// button:not([disabled]),
// select:not([disabled]),
// textarea:not([disabled]),
// iframe,
// [tabindex] {
//   &:not([tabindex^="-"]) {
//     // &:focus {}
//     &:focused:not(:-moz-focusring),
//     &:focused:not(:focus-visible) { outline: none; }
//     &:-moz-focusring,
//     &:focus-visible { box-shadow: 0 0 0 2px currentColor; }
//   }
// }