// reset
// ========

// set min-width to 320
html, body { min-width: 320px; }

// remove margin and padding
body,
figure,
dl,
dt,
dd,
ul,
ol,
li { margin: 0; }

dl,
ul,
ol { padding: 0; }

// reset list styles
li { list-style: none; }

button,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// make images & videos flexible
img, video { max-width: 100%; height: auto; }
iframe { max-width: 100%; }

// remove the white space under images
figure img, a > img { vertical-align: bottom; }

// prevent an image issue on IE 8
@media \0screen { img { width: auto; } }

// reset form styles
label { cursor: pointer; }
select { -webkit-appearance: none; }

// reset link style
a {
  text-decoration: none;
  color: inherit;
  &:focus { outline: 1px dotted $color-brand; }
}
main:focus { outline: 1px dotted $color-brand; }