// == utilities == //
svg {
  display: inline-block;
  path, circle, ellipse, polygon, polyline { vector-effect: non-scaling-stroke; }
}

// fix IE8 img-inside-label click issue
.lt-ie9 label {
  position: relative;
  .ie8-label-fix {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

// .container { @include container(); }
// .clearfix { @extend %clearfix; }

// == media ==
// .flex-video { @include flex-media(); }

// .media-left { @include media-list('media' 15px); }
// .media-right { @include media-list('media' right 15px); }
// .media-body { @include media-list('media-body'); }

// == layout ==
