// variables
// ============
$global-gutter: 30px;

$duration: 0.25s;

// z-index
$zi-header: 1;
$zi-offcanvas: 1000;

// breakpoint
$bp-header: 800;
$bp-mobile: 400;
$bp-tablet: 768;
$bp-desktop: 1024;

// size
$input-line-height: 1.8;

// font
$oswald: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$opensans: 'Open Sans', Arial, sans-serif;
$lato: 'Lato', Arial, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, Baskerville, serif;
$times: 'Times New Roman', Times, Baskerville, Georgia, serif;

// color
$color-brand: #2694E4;
$color-link: #238ADC;
$color-border: #E8E8E8;
$gray: #767676;

$gun: #383940;
$darken: 10%;
$flickr-pink: #FE0084;
$flickr-blue: #256DD9;
$amazon-yellow: #fd9a00;
$amazon-black: #231f20;
$social: (
  'amazon':      $gun,
  'app-store':   $gun,
  'behance':     #1769ff,
  'buffer':      #333333,
  'codepen':     $gun,
  'dribbble':    #ea4c89,
  'facebook':    #3b5998,
  'facebook-like': #4660b5, 
  'flickr':      hsl(0,0,90%),
  'generic':     $gun,
  'github':      $gun,
  'google': #567EF0, 
  'google-play': $gun,
  'google-plus': #dd4b39,
  'instagram':   $gun,
  'linkedin':    #007bb6,
  'medium':      $gun,
  'pinterest':   #bd081c,
  'reddit':      #cee3f8,
  'rss':         #D95B29,
  'snapchat':    #f7ec1e,
  'soundcloud':  #ff6000,
  'spotify':     #2ebd59,
  'tumblr':      #36465D,
  'twitter':     #55acee,
  'vine':        #00B289,
  'vk':          #4D76A4,
  'whatsapp':    #25D366,
  'youtube':     #cd201f,
  'email': #1D90DD, 
  'primary': #0078E7,
);

$alert:(
  'success': #3A945B,
  'info': #2270C1,
  'warning': #DE770F,
  'danger': #DE2D0F
);

// clearfix
%clearfix { @include clearfix; }