// about
// =============

// .has-style {
//   h1, h2, h3, h4, h5 { margin-bottom: 0.5em; text-transform: capitalize; }
//   h1 { @include type(34px 1.2); }
//   h2 { @include type(26px 1.2); }
//   h3 { @include type(22px 1.3); }
//   h4 { @include type(18px 1.3); }
//   h5 { @include type(13px 1.4); }
//   p, address { 
//     @include type(15px 1.4); 
//     margin-bottom: 1.5em;
//     color: #000;
//   }
//   a {
//     color: $color-link;
//     &:hover { text-decoration: underline; }
//   }
// }

// $ul-mg: 38px;
// .has-style {
//   section { margin-bottom: 50px; }
//   ul, ol { margin-left: $ul-mg; }
//   ol {
//     counter-reset: ol;
//     > li:before {
//       counter-increment: ol;
//       content: counters(ol, '.') ' ';
//       display: inline-block;
//       width: $ul-mg;
//       margin-left: -$ul-mg;
//     }
//   }
//   ul > li { list-style-type: square; }
//   li {
//     @include type(14px 1.7);
//     margin-bottom: 1em;
//   }
//   form {
//     label {
//       display: block;
//       margin-bottom: 0.3em;
//     }
//     ul, ol {
//       list-style: none;
//       margin-left: 0;
//     }
//     li:before { display: none; }
//   }
//   label.required:after {
//     content: ' *';
//     color: map-get($alerts, danger);
//   }
// }
