.full-article {
  @extend %clearfix;
  $gap: rem($global-gutter);
  font-size: rem(18px);
  line-height: 1.6;
  > header {
    margin-bottom: $gap;
  }
  p, 
  ul, 
  ol, 
  address, 
  blockquote, 
  .flex-video, 
  .embedded-content { margin: $gap 0; }
  a {
    color: $c-brand;
    &:hover { text-decoration: underline; }
  }
}