.full-article {
  @extend %clearfix;
  > header { margin-bottom: 1.6em; }
}
.article-content {
  font-size: rem(16px);
  line-height: (25/16);
  p, ul, ol, address, blockquote, figure, .flex-video, .embedded-content { margin: 0 0 em(25, 16) 0; }
  // h1, h2, h3, h4, h5, h6 {
  //   margin: 0 0 rem(20px) 0;
  //   line-height: 1.2;
  // }
  .center {
    max-width: rem(560);
    margin-left: auto;
    margin-right: auto;
  }
  blockquote {
    padding-left: 1.2em;
    border-left: 1px solid #999;
  }
  a {
    color: $link;
    &:hover { text-decoration: underline; }
  }
  @include bp(560) {
    .left, .right { max-width: rem(300); }
    .left {
      float: left;
      margin-right: rem(20);
    }
    .right {
      float: right;
      margin-right: rem(20);
    }
  }
}

.flex-video {
  @include flex-media( (9/16) );
}
.embedded-content {
  margin-bottom: rem(30);
  overflow: auto;
  iframe { border: 0; }
  .fluid {
    &-wrapper {
      position: relative;
      height: 0;
      overflow: hidden;
    }
    &-item {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
