.full-article {
  @extend %clearfix;
  $gap: rem($global-gutter);
  font-size: rem(18px);
  line-height: 1.6;
  > header {
    margin-bottom: $gap;
  }
  p, 
  ul, 
  ol, 
  address, 
  blockquote, 
  .flex-video, 
  .embedded-content { margin: $gap 0; }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 rem(20px) 0;
    line-height: 1.2;
  }
  blockquote {
    padding-left: 1.2em;
    border-left: 7px solid $c-border;
  }
  a {
    color: $c-brand;
    &:hover { text-decoration: underline; }
  }
}

.flex-video {
  @include flex-media( (9/16) );
}
.embedded-content {
  margin-bottom: $global-gutter;
  overflow: auto;
  iframe { border: 0; }
  .fluid {
    &-wrapper {
      position: relative;
      height: 0;
      overflow: hidden;
    }
    &-item {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
