{# breadcrumb #}
<nav class="breadcrumb" role="navigation" aria-label="You are here:">
  <ol class="no-bullet">
    <li><a href="/">Home</a></li>
    <li><a href="section.html">World</a></li>
    <li><a href="" aria-current="location">US</a></li>
  </ol>
</nav>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": 1,
        "item":
        {
          "@id": "{{ baseurl }}/dresses",
          "name": "Dresses"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item":
        {
          "@id": "{{ baseurl }}/dresses/real",
          "name": "Real Dresses"
        }
      }
    ]
  }
</script>