{# pagination #}
<nav role="navigation" aria-label="Pagination Navigation">
  <ul>
    {% set currentPage = 3 %}
    {% set start = 0 %}
    {% set length = 5 %}
    <li><a href="/page-{{ currentPage - 1 }}" aria-label="Go to Previous Page">Prev</a>
    </li>
    {% for i in range(start, start + length) %}
    <li>
      <a href="/page-{{ loop.index }}" aria-label="{{ 'Current Page, Page ' + loop.index if loop.index === currentPage else 'Go to Page ' + loop.index }}" {{ 'aria-current=true' if loop.index === currentPage }}>
        {{ loop.index }}
      </a>
    </li>
    {% endfor %}
    <li><a href="/page-{{ currentPage + 1 }}" aria-label="Go to Next Page">Next</a>
  </ul>
</nav>

{# primary search #}
<form class="main-search" id="main-search" action="a.php" method="post" aria-label="Main Search">
  <div role="search">
    <div class="visually-hidden" role="alert" aria-relevant="all"></div>
    <label class="visually-hidden" for="main-search-input">Search:</label>
    <input id="main-search-input" type="search" placeholder="Search" required="">
    <button><span class="visually-hidden">Go</span></button>
  </div>
</form>

{# form #}
<p>Fields marked with an asterisk (*) are required.</p>
<div class="errors" role="alert" aria-relevant="all">
  <ul>
  </ul>
</div>
<form action="a.php" method="post" aria-label="">
  <div>
    <label for="name">Enter your name: </label>
    <input type="text" id="name" required="" aria-required="true">
  </div>
  <div>
    <label for="musician">Musician:</label>
    <input type="checkbox" name="musician" id="musician">
    <p class="hidden-alert" aria-live="assertive"></p>
  </div>
  <div>
    <label for="instruments" style="color: rgb(153, 153, 153);">Instruments played*:</label>
    <input type="text" name="instruments" id="instruments" aria-required="true" aria-disabled="true" disabled="">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
<script>
  function toggleMusician(bool) {
    var instruItem = formItems[formItems.length-1];
    if(bool) {
      instruItem.input.disabled = false;
      instruItem.label.style.color = '#000';
      instruItem.input.setAttribute('aria-disabled', 'false');
      hiddenAlert.textContent = 'Instruments played field now enabled; use it to tell us what you play.';
    } else {
      instruItem.input.disabled = true;
      instruItem.label.style.color = '#999';
      instruItem.input.setAttribute('aria-disabled', 'true');
      instruItem.input.removeAttribute('aria-label');
      hiddenAlert.textContent = 'Instruments played field now disabled.';
    }
  }
</script>

{# nav #}
<nav role="navigation" aria-label="Main Navigation" id="main-nav"> {# aria-hidden="false" #}
  <ul>
    {% for section, subSection in nav %}
    <li class="has-submenu">
      <a href="{{ baseurl }}/{{ section | nameToUrl }}" aria-haspopup="true">{{ section | capitalize }}</a> {# aria-expanded="true" #}
      {# <button><span class="visually-hidden">show submenu for "{{ section | capitalize }}"</span></button> #}
      <ul> {# aria-hidden="false" #}
        {% for item in subSection %}
        <li><a href="{{ baseurl }}/{{ section | nameToUrl }}/{{ item | nameToUrl }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</nav>
<script>
  var menuItems = document.querySelectorAll('#main-nav .has-submenu');
  [].forEach.call(menuItems, function(el, i){
    var activatingA = el.querySelector('a');
    var btn = '<button><span class="aria-hidden">▾</span><span class="visually-hidden">show submenu for “' + activatingA.text + '”</span></button>';
    activatingA.insertAdjacentHTML('afterend', btn);

    el.querySelector('button').addEventListener("click",  function(e){
      var parent = this.parentNode;
      if (parent.className == "has-submenu") {
        parent.className = "has-submenu open";
        parent.querySelector('a').setAttribute('aria-expanded', "true");
        parent.querySelector('button').setAttribute('aria-expanded', "true");
      } else {
        parent.className = "has-submenu";
        parent.querySelector('a').setAttribute('aria-expanded', "false");
        parent.querySelector('button').setAttribute('aria-expanded', "false");
      }
      e.preventDefault();
    });
  });
</script>


<nav role="navigation" aria-labelledby="navheading">
  <h3 id="navheading">About Us</h3>
  <ul>
    {% for section in navSub %}
    <li><a href="{{ baseurl }}/{{ section | nameToUrl }}">{{ section | capitalize }}</a></li>
    {% endfor %}
  </ul>
</nav>
