{# pagination #}
<nav role="navigation" aria-label="Pagination Navigation">
  <ul>
    {% set currentPage = 3 %}
    {% set start = 0 %}
    {% set length = 5 %}

    <li><a href="/page-{{ currentPage - 1 }}" aria-label="Go to Previous Page">Prev</a>
    </li>

    {% for i in range(start, start + length) %}
    <li>
      <a href="/page-{{ loop.index }}" aria-label="{{ 'Current Page, Page ' + loop.index if loop.index === currentPage else 'Go to Page ' + loop.index }}" {{ 'aria-current=true' if loop.index === currentPage }}>
        {{ loop.index }}
      </a>
    </li>
    {% endfor %}

    <li><a href="/page-{{ currentPage + 1 }}" aria-label="Go to Next Page">Next</a>
  </ul>
</nav>


{# primary search #}
<form class="main-search" id="main-search" action="post">
  <div role="search">
    <label class="visually-hidden" for="main-search-input">Search:
      <p id="main-search-error" role="alert"></p>
    </label>
    <input id="main-search-input" type="search" placeholder="Search" required="">
    <button><span class="visually-hidden">Go</span></button>
  </div>
</form>

{# nav #}
<nav role="navigation" aria-label="Main Navigation" id="main-nav"> {# aria-hidden="false" #}
  <ul>
    {% for section, subSection in nav %}
      <li class="has-submenu">
        <a href="{{ baseurl }}/{{ section | nameToUrl }}" aria-haspopup="true">{{ section | capitalize }}</a> {# aria-expanded="true" #}
        {# <button><span class="visually-hidden">show submenu for "{{ section | capitalize }}"</span></button> #}
        <ul> {# aria-hidden="false" #}
          {% for item in subSection %}
            <li><a href="{{ baseurl }}/{{ section | nameToUrl }}/{{ item | nameToUrl }}">{{ item }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
<script>
  var menuItems = document.querySelectorAll('#main-nav .has-submenu');
  [].forEach.call(menuItems, function(el, i){
    var activatingA = el.querySelector('a');
    var btn = '<button><span class="aria-hidden">▾</span><span class="visually-hidden">show submenu for “' + activatingA.text + '”</span></button>';
    activatingA.insertAdjacentHTML('afterend', btn);

    el.querySelector('button').addEventListener("click",  function(e){
      var parent = this.parentNode;
      if (parent.className == "has-submenu") {
        parent.className = "has-submenu open";
        parent.querySelector('a').setAttribute('aria-expanded', "true");
        parent.querySelector('button').setAttribute('aria-expanded', "true");
      } else {
        parent.className = "has-submenu";
        parent.querySelector('a').setAttribute('aria-expanded', "false");
        parent.querySelector('button').setAttribute('aria-expanded', "false");
      }
      e.preventDefault();
    });
  });
</script>

<nav role="navigation" aria-labelledby="navheading">
  <h3 id="navheading">About Us</h3>
  <ul>
    {% for section in navSub %}
      <li><a href="{{ baseurl }}/{{ section | nameToUrl }}">{{ section | capitalize }}</a></li>
    {% endfor %}
  </ul>
</nav>
