<footer class="site-footer" role="contentinfo">

  {# copyright line #}
  <div class="copyright">
    <div class="container">
      Copyright &copy; 
      <span itemprop="copyrightYear">{{ year() }}</span> 
      <span itemprop="copyrightHolder provider sourceOrganization" 
            itemscope itemtype="http://schema.org/Organization" 
            itemid="{{ baseurl }}"><span itemprop="name">{{ brand }}</span></span>. All Rights Reserved.
    </div>
  </div>
</footer>