<noscript>
  <p class="enable-js">
    To enjoy our website, you'll need to enable <b>JavaScript</b> in your web browser. Please <a href="http://enable-javascript.com/" target="_blank"><b>click here</b></a> to learn how.
  </p>
</noscript>
<header class="site-header" role="banner">
  <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {% if page === 'home' %}<h1 class="visually-hidden">{{ brand }}</h1>{% endif %}
  {# skip-nav-link: http://a11yproject.com/posts/skip-nav-links/ #}
  <a href="#main" class="skip-link visually-hidden">Skip to main content</a>

  <div class="container">
    <button class="nav-toggle"><span></span></button>
    <div class="logo"><a href="index.html"><img src="assets/img/logo.svg" alt="Go to Homepage" width="320" height="60"></a></div>
  </div>
</header>