<div class="branding" id="branding" 
  itemprop="publisher" 
  itemscope itemtype="http://schema.org/Organization"
  itemid="{{ brand | replace(r/\s+/g, '') }}">
  <a href="/" itemprop="url">
    <meta itemprop="legalName name" content="{{ brand }}">
    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
      <meta itemprop="url" content="https://address.com/img/logo.png">
      <img src="{{ imgpath }}/logo.svg" alt="Go to Homepage" width="320" height="60">
    </span>
  </a>
</div>