{# get image height #}
{% macro imgHeight(width, ratio = [2, 3]) %}
  {{- (width * ratio[0] / ratio[1]) | round -}}
{% endmacro %}

{# get image src #}
{% macro imgSrc(id, size, hasGutter = true, ratio = [2, 3]) %}
  {% set width = size - globalGutter if hasGutter else size %}

  {{ images[id] }}?w={{ width }}&amp;h={{ (width * ratio[0] / ratio[1]) | round }}
{% endmacro %}

{# get image srcset #}
{% macro imgSrcset(id, sizes, hasGutter = true, ratio = [2, 3]) %}
  {% for size in sizes %}
    {% set width = size - globalGutter if hasGutter and not loop.last else size %}

    {{ images[id] }}?w={{ width }}&amp;h={{ (width * ratio[0] / ratio[1]) | round }} {{ width }}w{{', ' if not loop.last}}
  {% endfor %}"
{% endmacro %}






{# news list #}
{% macro news(num) %}
  {% for i in range(0, num) %}
    {% set hCount = getHC() %}
    <li><h3 class="heading"><a href="">{{ headings[hCount] }}</a></h3></li>
  {% endfor %}
{% endmacro %}

{# news list with images #}
{% macro newsImg(num, width='70', height='70', video = false) %}
  {% for i in range(0, num) %}
    {% set iCount = getIC() %}
    {% set hCount = getHC() %}
    <li>
      <article>
        <figure class="{{ 'has-icon is-video icon-center' if video }} {{ 'media-bg' if width >= 180 }}"><a href="" aria-label="{{ 'Play Video' if video}}"><img src="{{ images[iCount]}}?w={{ width }}&h={{ height }}" alt="{{ headings[iCount] }}">
        {% if video %}
          <span class="icon-wrapper"><svg role="img" width="26" height="26"><use xlink:href="../assets/svg/sprites.svg#playarrow-fill" /></svg></span>
        {% endif %}
        </a></figure>
        <h3 class="heading"><a href="">{{ headings[hCount] | truncate(55, false, "") }}</a></h3>
      </article>
    </li>
  {% endfor %}
{% endmacro %}

{# news lsit with images, summaries #}
{% macro newsImgSum(num, width='70', height='70') %}
  {% for i in range(0, num) %}
    {% set iCount = getIC() %}
    {% set hCount = getHC() %}
    {% set gCount = getPC() %}
    <li>
      <article>
        <figure class="{{ 'media-bg' if width >= 100 }}"><a href=""><img src="{{ images[iCount]}}?w={{ width }}&h={{ height }}" alt="{{ headings[iCount] }}"></a></figure>
        <div>
          <h3 class="heading"><a href="">{{ headings[hCount] }}</a></h3>
          <p>{{ paragraphs[gCount] }}</p>
        </div>
      </article>
    </li>
  {% endfor %}
{% endmacro %}

{# news list with images, bylines #}
{% macro newsByline(num, width='70', height='70') %}
  {% for i in range(0, num) %}
    {% set iCount = getIC() %}
    {% set hCount = getHC() %}
    <li>
      <article>
        <figure><a href=""><img src="{{ images[iCount]}}?w={{ width }}&h={{ height }}" alt="{{ headings[iCount] }}"></a></figure>
        <div>
          <h3 class="heading"><a href="">{{ headings[hCount] }}</a></h3>
          <div class="byline"><a href="" class="reporter">Ben Chapman</a> <time datetime="2017-05-26">Friday 26 May 2017 14:28 BST</time></div>
        </div>
      </article>
    </li>
  {% endfor %}
{% endmacro %}

{# news list with images, bylines, summaries #}
{% macro newsBylineSum(num, width='70', height='70') %}
  {% for i in range(0, num) %}
    {% set iCount = getIC() %}
    {% set hCount = getHC() %}
    {% set gCount = getPC() %}
    <li>
      <article>
        <figure class="{{ 'media-bg' if width >= 180 }}"><a href=""><img src="{{ images[iCount]}}?w={{ width }}&h={{ height }}" alt="{{ headings[iCount] }}"></a></figure>
        <div>
          <h3 class="heading"><a href="">{{ headings[hCount] }}</a></h3>
          <div class="byline"><a href="" class="reporter">Ben Chapman</a> <time datetime="2017-05-26">Friday 26 May 2017 14:28 BST</time></div>
          <p>{{ paragraphs[gCount] }}</p>
        </div>
      </article>
    </li>
  {% endfor %}
{% endmacro %}



{# article image #}
{% macro imgArticle(class, id = getIC(), fullWidth = false) %}
  {% set dfWidth = 760 %}
  {% set breakpoints = [320, 640, 850, 1019] %}
  {% set ratio = [2, 3] if not fullWidth else [8, 16] %}

  {% if fullWidth %}
    {% set breakpoints = push(breakpoints, 1430) %}
    {% set bpSize = container + globalGutter %}
    {% set extraSize = ', (min-width: ' + bpSize + 'px 100vw' %}
  {% endif %}

  {% set breakpoints = push(breakpoints, dfWidth) %}

  <figure class="{{ class }}" 
    itemprop="image" 
    itemscope itemtype="http://schema.org/ImageObject" 
    itemid="{{ imgSrc(id, dfWidth, false, ratio) }}">

    {% if belongTo(class, ['left', 'right']) %}
    <div class="img-wrapper">
    {% endif %}
      <img 
        src="{{ imgSrc(id, dfWidth, false, ratio) }}"
        srcset="{{ imgSrcset(id, breakpoints, true, ratio) }}"
        sizes="
          calc(100vw - {{ globalGutter }}px),
          (min-width: {{ layoutHome }}px) {{ dfWidth }}px{{ extraSize }}
          "
        alt="{{ headings[id - 1] }}" 
        itemprop="url">
        <meta itemprop="width" content="{{ dfWidth }}">
        <meta itemprop="height" content="{{ imgHeight(dfWidth, ratio) }}">

      {% if belongTo(class, ['left', 'right']) %}
        <span class="expand-control js-expand-control">Expand | Collapse</span>
      </div>
      {% endif %}
    <figcaption class="caption" itemprop="caption description">{{ headings[id] }}</figcaption>

    {% if fullWidth %}
    <div class="ad"><a href=""><img src="https://s1.2mdn.net/5142550/UEI170041_FEHB_300x250__0_CoPay.jpg" alt="ad300" width="300" height="250"></a></div>
    {% endif %}
  </figure>
{% endmacro %}