












{# get image height #}
{% macro imgHeight(width, ratio = [3, 2]) %}
  {{- (width * ratio[1] / ratio[0]) | round -}}
{% endmacro %}


{%- macro srcset(src, ws, ratio) -%}
  {% set str = '' %}
  {%- for w in ws -%}
    {% set str = str + src + w + '_' + imgHeight(w, ratio) + ' ' + w + 'w' %}

    {%- if not loop.last -%}
    {% set str = str + ', ' %}
    {%- endif -%}
  {%- endfor -%}

  {{- str -}}
{%- endmacro -%}


{# get image srcset #}
{% macro imgSrcset(id, sizes, hasGutter = true, ratio = [2, 3]) %}
  {% for size in sizes %}
    {% set width = size - globalGutter if hasGutter and not loop.last else size %}

    {{ images[id] }}?w={{ width }}&amp;h={{ (width * ratio[0] / ratio[1]) | round }} {{ width }}w{{', ' if not loop.last}}
  {% endfor %}"
{% endmacro %}



{%- macro ad(size) -%}
  {{- 'http://url.com/banner/' + size + '/' + get(size) + '.png' -}} 
{%- endmacro -%}
