<!-- all pages -->
{% macro organization () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "{{ baseurl }}",
  "logo": "assets/img/static/logo-600x60.png",
  "name": "{{ brand }}"
}
</script>
{% endmacro %}






<!-- all pages -->
{% macro media_organization () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsMediaOrganization",
  "name": "{{ brand }}",
  "logo": {
    "@context": "http://schema.org",
    "@type": "ImageObject",
    "url": "assets/img/static/logo-600x60.png",
    "height": 60,
    "width": 600
  },
  "url": "{{ baseurl }}/",
  "@id": "{{ baseurl }}/#publisher",
  "diversityPolicy": "{{ baseurl }}/diversity-policy.html",
  "ethicsPolicy": "{{ baseurl }}/ethics-policy.html",
  "masthead": "{{ baseurl }}/masthead.html",
  "foundingDate": "2000-01-01",
  "sameAs": [
    {%- for item, url in social %}
    "{{ url }}"{{ ', ' if not loop.last }}
    {%- endfor %}
  ],
  "alternateName": [
    "alt name 1",
    "alt name 2",
    "alt name 3",
    "alt name 4"
  ]
  {# "sameAs": "https://en.wikipedia.org/wiki/{{ brand }}" #}
}
</script>
{% endmacro %}





<!-- all pages -->
{% macro website () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ baseurl }}/",
  "name": "{{ brand }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ baseurl }}/search?&q={query}",
    "query-input": "required name=query"
  }
}
</script>
{% endmacro %}





<!-- homepage -->
{% macro webpage () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "image": [
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "url": "assets/img/static/nameplate_1200x675.png",
      "height": 675,
      "width": 1200
    },
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "url": "assets/img/static/n_1200x900.png",
      "height": 900,
      "width": 1200
    },
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "url": "assets/img/static/n_1200x1200.png",
      "height": 1200,
      "width": 1200
    }
  ],
  "name": "{{ brand }}",
  "mainEntity": {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article1.html",
        "position": 1
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article2.html",
        "position": 2
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article3.html",
        "position": 3
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article4.html",
        "position": 4
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article5.html",
        "position": 5
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article6.html",
        "position": 6
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article7.html",
        "position": 7
      }
    ],
    "numberOfItems": 7
  },
  "publisher": "{{ baseurl }}/#publisher"
}
</script>
{% endmacro %}





<!-- section page -->
{% macro collection () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  "description": "{{ get('P') }}",
  "url": "{{ baseurl }}/section/politics",
  "inLanguage": "en",
  "name": "Politics",
  "mainEntity": {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article1.html",
        "position": 1
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article2.html",
        "position": 2
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article3.html",
        "position": 3
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article4.html",
        "position": 4
      }
    ],
    "numberOfItems": 4
  },
  "publisher": "{{ baseurl }}/#publisher",
  "copyrightHolder": "{{ baseurl }}/#publisher",
  "sourceOrganization": "{{ baseurl }}/#publisher",
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





<!-- video section page -->
{% macro video_gallery () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoGallery",
  "url": "{{ baseurl }}/video",
  "name": "Featured Videos",
  "mainEntity": {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/video/article1.html",
        "position": 1
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/video/article2.html",
        "position": 2
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/video/article3.html",
        "position": 3
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/video/article4.html",
        "position": 4
      }
    ],
    "numberOfItems": 4
  },
  "publisher": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightHolder": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}







<!-- about us page -->
{% macro about_page () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AboutPage",
  "url": "{{ baseurl }}/about",
  "name": "About Us",
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "isAccessibleForFree": true,
    "cssSelector": ".full-article"
  },
  "reviewedBy": "{{ baseurl }}",
  "author": "{{ baseurl }}",
  "publisher": "{{ baseurl }}/#publisher",
  "copyrightHolder": "{{ baseurl }}/#publisher",
  "sourceOrganization": "{{ baseurl }}/#publisher",
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





<!-- contact us page -->
{% macro contact_page () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ContactPage",
  "url": "{{ baseurl }}/contact",
  "name": "Contact Us",
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "isAccessibleForFree": true,
    "cssSelector": ".full-article"
  },
  "reviewedBy": "{{ baseurl }}",
  "author": "{{ baseurl }}",
  "publisher": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightHolder": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





<!-- search result page -->
{% macro search_page () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SearchResultsPage",
  "url": "{{ baseurl }}/search",
  "name": "Search Results",
  "mainEntity": {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article1.html",
        "position": 1
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article2.html",
        "position": 2
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article3.html",
        "position": 3
      },
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article4.html",
        "position": 4
      }
    ],
    "numberOfItems": 4
  },
  "publisher": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightHolder": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





<!-- article page -->
{% macro news_article () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ baseurl }}/news/article.html"
  },
  "url": "{{ baseurl }}/news/article.html",
  "headline": "{{ get('H') }}",
  "alternativeHeadline": "{{ get('H') }}",
  "datePublished": "{{ year() }}-09-14T13:13:12.000Z",
  "dateModified": "{{ year() }}-09-14T14:24:46.000Z",
  "description": "{{ get('P') }}",
  {# "author": {
    "@id": "{{ baseurl }}/#publisher"
  }, #}
  "author": {
      "@type": "Person",
      "name": "{{ author }}"
    },
  "publisher": {
    "@type": "Organization",
    "name": "{{ brand }}",
    "logo": {
      "@type": "ImageObject",
      "url": "assets/img/static/logo-600x60.png"
    }
  },
  {% set img = get('I') %}
  "image": [
    {
      "@type": "ImageObject",
      "url": "{{ mc.src(1600, 900, img) }}",
      "height": 900,
      "width": 1600{# ,
      "caption": "{{ get('P') }}" #}
    },
    {
      "@type": "ImageObject",
      "url": "{{ mc.src(2048, 1536, img) }}",
      "height": 1536,
      "width": 2048{# ,
      "caption": "{{ get('P') }}" #}
    },
    {
      "@type": "ImageObject",
      "url": "{{ mc.src(1800, 1800, img) }}",
      "height": 1800,
      "width": 1800{# ,
      "caption": "{{ get('P') }}" #}
    }
  ],
  "inLanguage": "en",
  "video": [
    {
      "@id": "{{ baseurl }}/video/article.html"
    }
  ],
  "copyrightHolder": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightYear": {{ year() }},
  "isAccessibleForFree": true,
  "hasPart": {
    "@type": "WebPageElement",
    "isAccessibleForFree": true,
    "cssSelector": ".full-article"
  },
  "isPartOf": {
    "@type": [
      "CreativeWork",
      "Product"
    ],
    "name": "{{ brand }}",
    "productID": "{{ baseurl }}:basic"
  }
}
</script>
{% endmacro %}
{#
  article image size:
  min width: 696
  width * height >= 300000
  1x1: 548-548
  4x3: 636-477
  16x9: 736-414
#}




{# li #}
{% macro live_blog() %}
<script data-rh="true" type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LiveBlogPosting",
  "description": "{{ get('P') }}",
  "mainEntityOfPage": "{{ baseurl }}/news/article.html",
  "url": "{{ baseurl }}/news/article.html",
  "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
  "datePublished": "{{ year() }}-09-17T09:12:15.000Z",
  "headline": "{{ get('H') }}",
  "publisher": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "articleBody": "{{ get('P') }}",
  "copyrightHolder": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/#publisher"
  },
  "copyrightYear": {{ year() }},
  "coverageEndTime": "{{ year() }}-09-17T20:31:46.378Z",
  "coverageStartTime": "{{ year() }}-09-17T09:12:15.000Z",
  "liveBlogUpdate": [
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "copyrightYear": {{ year() }}
    },
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "copyrightYear": {{ year() }}
    },
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "copyrightYear": {{ year() }}
    },
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/#publisher"
      },
      "copyrightYear": {{ year() }}
    }
  ]
}
</script>
{% endmacro %}




<!-- video page -->
{% macro video () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoObject",
  "@id": "{{ baseurl }}/video/article.html",
  "url": "{{ baseurl }}/video/article.html",
  "name": "{{ get('H') }}",
  "description": "{{ get('P') }}",
  "thumbnailUrl": [
    "{{ baseurl }}/images/img-1600.png",
    "{{ baseurl }}/images/img.png",
    "{{ baseurl }}/images/img@3X.png"
  ],
  "publisher": {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ brand }}",
    "logo": {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "url": "assets/img/static/logo-600x60.png",
      "height": 60,
      "width": 600
    },
    "url": "{{ baseurl }}/"
  },
  "embedUrl": "{{ baseurl }}/video/article.html?videoId=100000007308961",
  "uploadDate": "{{ year() }}-09-07T08:50:03.000Z",
  "transcript": "{{ get('P') }}",
  "duration": "PT5M30.497S"
}
</script>
{% endmacro %}








<!-- audio page -->
{% macro audio () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AudioObject",
  "@id": "{{ baseurl }}/episodes/588049163ece.mp3",
  "contentUrl": "{{ baseurl }}/episodes/588049163ece.mp3",
  "description": "{{ get('P') }}",
  "name": "{{ get('H') }}",
  "duration": "PT3.243S"
}
</script>
{% endmacro %}





<!-- audio page -->
{% macro audio_full () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AudioObject",
  "@id": "{{ baseurl }}/episodes/a3f080cc1db9.mp3",
  "contentUrl": "{{ baseurl }}/episodes/a3f080cc1db9.mp3",
  "uploadDate": "{{ year() }}-07-30T09:03:53.000Z",
  "transcript": "{{ get('P') }}",
  "duration": "PT3.743S"
}
</script>
{% endmacro %}




<!-- inner pages -->
{% macro breadcrumb () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@context": "http://schema.org",
      "@type": "ListItem",
      "name": "Fashion",
      "position": 1,
      "item": "{{ baseurl }}/section/fashion"
    },
    {
      "@context": "http://schema.org",
      "@type": "ListItem",
      "name": "Love",
      "position": 2,
      "item": ""
    }
  ]
}
</script>
{% endmacro %}





<!-- Carousel -->
{% macro carousel() %}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"ItemList",
  "itemListElement":[
    {
      "@type":"ListItem",
      "position":1,
      "url":"http://example.com/peanut-butter-cookies.html"
    },
    {
      "@type":"ListItem",
      "position":2,
      "url":"http://example.com/triple-chocolate-chunk.html"
    },
    {
      "@type":"ListItem",
      "position":3,
      "url":"http://example.com/snickerdoodles.html"
    }
  ]
}
</script>
{% endmacro %}

{% macro carousel_full() %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": "1",
      "item": {
        "@type": "Movie",
        "url": "https://example.com/2019-best-picture-noms#a-star-is-born",
        "name": "A Star Is Born",
        "image": "https://example.com/photos/6x9/photo.jpg",
        "dateCreated": "2018-10-05",
        "director": {
            "@type": "Person",
            "name": "Bradley Cooper"
          },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5"
          },
          "author": {
            "@type": "Person",
            "name": "John D."
          },
          "reviewBody": "Heartbreaking, inpsiring, moving. Bradley Cooper is a triple threat."
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "90",
            "bestRating": "100",
            "ratingCount": "19141"
          }
        }
      },
    {
      "@type": "ListItem",
      "position": "2",
      "item": {
        "@type": "Movie",
        "name": "Bohemian Rhapsody",
        "url": "https://example.com/2019-best-picture-noms#bohemian-rhapsody",
        "image": "https://example.com/photos/6x9/photo.jpg",
        "dateCreated": "2018-11-02",
        "director": {
            "@type": "Person",
            "name": "Bryan Singer"
          },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "3"
          },
          "author": {
            "@type": "Person",
            "name": "Vin S."
          },
          "reviewBody": "Rami Malek's performance is overrated, at best."
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "61",
            "bestRating": "100",
            "ratingCount": "21985"
          }
        }
      },
    {
      "@type": "ListItem",
      "position": "3",
      "item": {
        "@type": "Movie",
        "name": "Black Panther",
        "url": "https://example.com/2019-best-picture-noms#black-panther",
        "image": "https://example.com/photos/6x9/photo.jpg",
        "dateCreated": "2018-02-16",
        "director": {
            "@type": "Person",
            "name": "Ryan Coogler"
          },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "2"
          },
          "author": {
            "@type": "Person",
            "name": "Trevor R."
          },
          "reviewBody": "I didn't like the lighting and CGI in this movie."
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "96",
            "bestRating": "100",
            "ratingCount": "88211"
          }
        }
      }
  ]
}
</script>
<body>
</body>
{% endmacro %}




{% macro course() %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Course",
  "name": "{{ get('H') }}",
  "description": "{{ get('P') }}",
  "provider": {
    "@type": "Organization",
    "name": "{{ get('H') }}",
    "sameAs": "{{ baseurl }}"
  }
}
</script>
{% endmacro %}