{# all pages #}
{% macro organization () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "{{ baseurl }}",
  "logo": "assets/img/static/logo-600x60.png",
  "name": "{{ brand }}"
}
</script>
{% endmacro %}






{# all pages #}
{% macro media_organization () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsMediaOrganization",
  "name": "{{ brand }}",
  "logo": {
    "@type": "ImageObject",
    "url": "assets/img/static/logo-600x60.png",
    "height": 60,
    "width": 600
  },
  "url": "{{ baseurl }}/",
  "@id": "{{ baseurl }}/",
  "diversityPolicy": "{{ baseurl }}/diversity-policy.html",
  "ethicsPolicy": "{{ baseurl }}/ethics-policy.html",
  "masthead": "{{ baseurl }}/masthead.html",
  "foundingDate": "2000-01-01",
  "sameAs": [
    {%- for item, url in social %}
    "{{ url }}"{{ ', ' if not loop.last }}
    {%- endfor %}
  ],
  "alternateName": [
    "alt name 1",
    "alt name 2",
    "alt name 3",
    "alt name 4"
  ]
  {# "sameAs": "https://en.wikipedia.org/wiki/{{ brand }}" #}
}
</script>
{% endmacro %}





{# all pages #}
{% macro website () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ baseurl }}/",
  "name": "{{ brand }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ baseurl }}/search?&q={query}",
    "query-input": "required name=query"
  }
}
</script>
{% endmacro %}





{# homepage #}
{% macro webpage (count=7) %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "image": [
    {%- for name, width, height in [
      ['nameplate_1200x675', 1200, 675],
      ['n_1200x900', 1200, 900],
      ['n_1200x1200', 1200, 1200]
      ] %}
    {
      "@type": "ImageObject",
      "url": "assets/img/static/{{ name }}.png",
      "width": {{ width }},
      "height": {{ height }}
    }{{- ',' if not loop.last -}}
    {%- endfor %}
  ],
  "name": "{{ brand }}",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {%- for i in range(0, count) %}
      {
        "@type": "ListItem",
        "url": "{{ baseurl }}/news/article{{ loop.index }}.html",
        "position": {{ loop.index }}
      }{{- ',' if not loop.last -}}
      {%- endfor %}
    ],
    "numberOfItems": {{ count }}
  },
  "publisher": "{{ baseurl }}/"
}
</script>
{% endmacro %}





{# section page #}
{% macro collection (arr, count=4) %}
{% set sec = arr[0] | nameToUrl %}
{% set link = '' %}
{% if arr.length > 1 %}
  {% for item in arr %}
    {% if loop.index > 1 %}
      {% set link = link + '/' + item | nameToUrl %}
    {% endif %}
  {% endfor %}
{% endif %}
{% set url = baseurl | replace('//', '//' + sec +  '.') + link %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  "description": "{{ get('P') }}",
  "url": "{{ url }}",
  "inLanguage": "en",
  "name": "{{ arr[arr.length - 1] }}",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {%- for i in range(0, count) %}
      {
        "@type": "ListItem",
        "url": "{{ url }}/article{{ loop.index }}.html",
        "position": {{ loop.index }}
      }{{- ',' if not loop.last -}}
      {%- endfor %}
    ],
    "numberOfItems": {{ count }}
  },
  "publisher": "{{ baseurl }}/",
  "copyrightHolder": "{{ baseurl }}/",
  "sourceOrganization": "{{ baseurl }}/",
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





{# video section page #}
{% macro video_gallery (count=4) %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoGallery",
  "url": "{{ baseurl }}/video",
  "name": "Featured Videos",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {%- for i in range(0, count) %}
      {
        "@type": "ListItem",
        "url": "{{ baseurl }}/video/video{{ loop.index }}.html",
        "position": {{ loop.index }}
      }{{- ',' if not loop.last -}}
      {%- endfor %}
    ],
    "numberOfItems": {{ count }}
  },
  "publisher": "{{ baseurl }}/",
  "copyrightHolder": "{{ baseurl }}/",
  "sourceOrganization": "{{ baseurl }}/",
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}







{# about us page #}
{% macro about_page () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AboutPage",
  "url": "{{ baseurl }}/about",
  "name": "About Us",
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "isAccessibleForFree": true,
    "cssSelector": ".full-article"
  },
  "reviewedBy": "{{ baseurl }}",
  "author": "{{ baseurl }}",
  "publisher": "{{ baseurl }}/",
  "copyrightHolder": "{{ baseurl }}/",
  "sourceOrganization": "{{ baseurl }}/",
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





{# contact us page #}
{% macro contact_page () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ContactPage",
  "url": "{{ baseurl }}/contact",
  "name": "Contact Us",
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "isAccessibleForFree": true,
    "cssSelector": ".full-article"
  },
  "reviewedBy": "{{ baseurl }}",
  "author": "{{ baseurl }}",
  "publisher": "{{ baseurl }}/",
  "copyrightHolder": "{{ baseurl }}/",
  "sourceOrganization": "{{ baseurl }}/",
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}





{# search result page #}
{% macro search_page (section) %}
{% set url = baseurl | replace('//', '//' + section | nameToUrl + '.') %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SearchResultsPage",
  "url": "{{ url }}/search",
  "name": "Search Results",
  "mainEntity": {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {%- for i in range(0, 4) %}
      {
        "@context": "http://schema.org",
        "@type": "ListItem",
        "url": "{{ url }}/article{{ loop.index }}.html",
        "position": 1
      }{{- ',' if not loop.last -}}
      {%- endfor %}
    ],
    "numberOfItems": 4
  },
  "publisher": {
    "@id": "{{ baseurl }}/"
  },
  "copyrightHolder": {
    "@id": "{{ baseurl }}/"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/"
  },
  "copyrightYear": {{ year() }}
}
</script>
{% endmacro %}






{# FAQ page #}
{% macro faq (count=7) %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {%- for i in range(0, count) %}
    {
      "@type": "Question",
      "name": "Question {{ loop.index }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Answer {{ loop.index }}"
      }
    }{{- ',' if not loop.last -}}
    {%- endfor %}
  ]
}
</script>
{% endmacro %}






{# article page #}
{% macro news_article () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ baseurl }}/news/article.html"
  },
  "url": "{{ baseurl }}/news/article.html",
  "headline": "{{ get('H') }}",
  "alternativeHeadline": "{{ get('H') }}",
  "datePublished": "{{ year() }}-09-14T13:13:12.000Z",
  "dateModified": "{{ year() }}-09-14T14:24:46.000Z",
  "description": "{{ get('P') }}",
  "author": {
      "@type": "Person",
      "name": "{{ reporter[0] }}"
    },
  "publisher": {
    "@type": "Organization",
    "name": "{{ brand }}",
    "logo": {
      "@type": "ImageObject",
      "url": "assets/img/static/logo-600x60.png"
    }
  },
  {% set img = get('I') %}
  "image": [
    {
      "@type": "ImageObject",
      "url": "{{ mc.src(1600, 900, img) }}",
      "height": 900,
      "width": 1600{# ,
      "caption": "{{ get('P') }}" #}
    },
    {
      "@type": "ImageObject",
      "url": "{{ mc.src(2048, 1536, img) }}",
      "height": 1536,
      "width": 2048{# ,
      "caption": "{{ get('P') }}" #}
    },
    {
      "@type": "ImageObject",
      "url": "{{ mc.src(1800, 1800, img) }}",
      "height": 1800,
      "width": 1800{# ,
      "caption": "{{ get('P') }}" #}
    }
  ],
  "inLanguage": "en",
  "video": [
    {
      "@id": "{{ baseurl }}/video/article.html"
    }
  ],
  "copyrightHolder": {
    "@id": "{{ baseurl }}/"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/"
  },
  "copyrightYear": {{ year() }},
  "isAccessibleForFree": true,
  "hasPart": {
    "@type": "WebPageElement",
    "isAccessibleForFree": true,
    "cssSelector": ".full-article"
  },
  "isPartOf": {
    "@type": [
      "CreativeWork",
      "Product"
    ],
    "name": "{{ brand }}",
    "productID": "{{ baseurl }}:basic"
  }
}
</script>
{% endmacro %}


{# blog #}
{% macro blog() %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Blog",
  "headline": "Headline, your H1",
  "url": "{{ baseurl | replace('//', '//blogs.') }}/blog-article.html",
  "datePublished": "February 3, 2021",
  "dateModified": "February 3, 2021",
  "author": "Author name",
  "publisher": {
    "@type": "WebSite",
    "name": "{{ brand }}",
    "logo":
    {
      "@type": "imageObject",
      "url": "http://example.com/images/logo.jpg"
    }
  },
  "description": "{{ get('P') }}"
}
</script>
{% endmacro %}

{# blog posting #}
{% macro blog_posting() %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "author": "Author name",
  "datePublished": "February 3, 2021",
  "headline": "Headline, your H1",
  "image":
  {
    "@type": "imageObject",
    "url": "http://example.com/images/image.png",
    "height": "640",
    "width": "800"
  },
  "publisher":
  {
    "@type": "Organization",
    "name": "Publisher name",
    "logo":
    {
      "@type": "imageObject",
      "url": "http://example.com/images/logo.jpg"
    }
  }
}
</script>
{% endmacro %}


{# live blog #}
{% macro live_blog() %}
<script data-rh="true" type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LiveBlogPosting",
  "description": "{{ get('P') }}",
  "mainEntityOfPage": "{{ baseurl }}/news/article.html",
  "url": "{{ baseurl }}/news/article.html",
  "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
  "datePublished": "{{ year() }}-09-17T09:12:15.000Z",
  "headline": "{{ get('H') }}",
  "publisher": {
    "@id": "{{ baseurl }}/"
  },
  "articleBody": "{{ get('P') }}",
  "copyrightHolder": {
    "@id": "{{ baseurl }}/"
  },
  "sourceOrganization": {
    "@id": "{{ baseurl }}/"
  },
  "copyrightYear": {{ year() }},
  "coverageEndTime": "{{ year() }}-09-17T20:31:46.378Z",
  "coverageStartTime": "{{ year() }}-09-17T09:12:15.000Z",
  "liveBlogUpdate": [
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/"
      },
      "copyrightYear": {{ year() }}
    },
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/"
      },
      "copyrightYear": {{ year() }}
    },
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/"
      },
      "copyrightYear": {{ year() }}
    },
    {
      {# "@context": "http://schema.org", #}
      "@type": "BlogPosting",
      {% set img = get('I') %}
      "image": [
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1600, 900, img) }}",
          "height": 900,
          "width": 1600
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(2048, 1536, img) }}",
          "height": 1536,
          "width": 2048
        },
        {
          "@type": "ImageObject",
          "url": "{{ mc.src(1800, 1800, img) }}",
          "height": 1800,
          "width": 1800
        }
      ],
      "mainEntityOfPage": "{{ baseurl }}/news/article.html",
      "url": "{{ baseurl }}/news/article.html",
      "author": {
        "@id": "{{ baseurl }}/"
      },
      "dateModified": "{{ year() }}-09-17T19:01:46.378Z",
      "datePublished": "{{ year() }}-09-17T19:01:46.378Z",
      "headline": "{{ get('H') }}",
      "publisher": {
        "@id": "{{ baseurl }}/"
      },
      "articleBody": "{{ get('P') }}",
      "copyrightHolder": {
        "@id": "{{ baseurl }}/"
      },
      "sourceOrganization": {
        "@id": "{{ baseurl }}/"
      },
      "copyrightYear": {{ year() }}
    }
  ]
}
</script>
{% endmacro %}




{# video page #}
{% macro video () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoObject",
  "@id": "{{ baseurl }}/video/article.html",
  "url": "{{ baseurl }}/video/article.html",
  "name": "{{ get('H') }}",
  "description": "{{ get('P') }}",
  "thumbnailUrl": [
    "{{ baseurl }}/images/img-1600.png",
    "{{ baseurl }}/images/img.png",
    "{{ baseurl }}/images/img@3X.png"
  ],
  "publisher": {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ brand }}",
    "logo": {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "url": "assets/img/static/logo-600x60.png",
      "height": 60,
      "width": 600
    },
    "url": "{{ baseurl }}/"
  },
  "embedUrl": "{{ baseurl }}/video/article.html?videoId=100000007308961",
  "uploadDate": "{{ year() }}-09-07T08:50:03.000Z",
  "transcript": "{{ get('P') }}",
  "duration": "PT5M30.497S"
}
</script>
{% endmacro %}



{# podcast episode #}
{% macro podcast_episode () %}
{% set url = baseurl | replace('//', '//podcasts.') %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "PodcastEpisode",
  "url": "{{ url }}/inquisitive/27",
  "name": "#27: Behind the App #1: History",
  "datePublished": "2021-02-18",
  "timeRequired": "PT37M",
  "description": "In the first episode of “Behind the App”, a special series of Inquisitive, we take a look at the beginnings of iOS app development, by focusing on the introduction of the iPhone and the App Store.",
  "associatedMedia": {
    "@type": "MediaObject",
    "contentUrl": "{{ url }}/inquisitive/Inquisitive_027.mp3"
  },
  "partOfSeries": {
    "@type": "PodcastSeries",
    "name": "Inquisitive",
    "url": "{{ url }}/inquisitive"
  }
}
</script>
{% endmacro %}






{# audio page #}
{% macro audio () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AudioObject",
  "@id": "{{ baseurl }}/episodes/588049163ece.mp3",
  "contentUrl": "{{ baseurl }}/episodes/588049163ece.mp3",
  "description": "{{ get('P') }}",
  "name": "{{ get('H') }}",
  "duration": "PT3.243S"
}
</script>
{% endmacro %}





{# audio page #}
{% macro audio_full () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AudioObject",
  "@id": "{{ baseurl }}/episodes/a3f080cc1db9.mp3",
  "contentUrl": "{{ baseurl }}/episodes/a3f080cc1db9.mp3",
  "uploadDate": "{{ year() }}-07-30T09:03:53.000Z",
  "transcript": "{{ get('P') }}",
  "duration": "PT3.743S"
}
</script>
{% endmacro %}




{# inner pages #}
{% macro breadcrumb () %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@context": "http://schema.org",
      "@type": "ListItem",
      "name": "Fashion",
      "position": 1,
      "item": "{{ baseurl }}/section/fashion"
    },
    {
      "@context": "http://schema.org",
      "@type": "ListItem",
      "name": "Love",
      "position": 2,
      "item": ""
    }
  ]
}
</script>
{% endmacro %}





{# Carousel #}
{% macro carousel() %}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"ItemList",
  "itemListElement":[
    {
      "@type":"ListItem",
      "position":1,
      "url":"http://example.com/peanut-butter-cookies.html"
    },
    {
      "@type":"ListItem",
      "position":2,
      "url":"http://example.com/triple-chocolate-chunk.html"
    },
    {
      "@type":"ListItem",
      "position":3,
      "url":"http://example.com/snickerdoodles.html"
    }
  ]
}
</script>
{% endmacro %}

{% macro carousel_full() %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": "1",
      "item": {
        "@type": "Movie",
        "url": "https://example.com/2019-best-picture-noms#a-star-is-born",
        "name": "A Star Is Born",
        "image": "https://example.com/photos/6x9/photo.jpg",
        "dateCreated": "2018-10-05",
        "director": {
            "@type": "Person",
            "name": "Bradley Cooper"
          },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5"
          },
          "author": {
            "@type": "Person",
            "name": "John D."
          },
          "reviewBody": "Heartbreaking, inpsiring, moving. Bradley Cooper is a triple threat."
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "90",
            "bestRating": "100",
            "ratingCount": "19141"
          }
        }
      },
    {
      "@type": "ListItem",
      "position": "2",
      "item": {
        "@type": "Movie",
        "name": "Bohemian Rhapsody",
        "url": "https://example.com/2019-best-picture-noms#bohemian-rhapsody",
        "image": "https://example.com/photos/6x9/photo.jpg",
        "dateCreated": "2018-11-02",
        "director": {
            "@type": "Person",
            "name": "Bryan Singer"
          },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "3"
          },
          "author": {
            "@type": "Person",
            "name": "Vin S."
          },
          "reviewBody": "Rami Malek's performance is overrated, at best."
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "61",
            "bestRating": "100",
            "ratingCount": "21985"
          }
        }
      },
    {
      "@type": "ListItem",
      "position": "3",
      "item": {
        "@type": "Movie",
        "name": "Black Panther",
        "url": "https://example.com/2019-best-picture-noms#black-panther",
        "image": "https://example.com/photos/6x9/photo.jpg",
        "dateCreated": "2018-02-16",
        "director": {
            "@type": "Person",
            "name": "Ryan Coogler"
          },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "2"
          },
          "author": {
            "@type": "Person",
            "name": "Trevor R."
          },
          "reviewBody": "I didn't like the lighting and CGI in this movie."
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "96",
            "bestRating": "100",
            "ratingCount": "88211"
          }
        }
      }
  ]
}
</script>
<body>
</body>
{% endmacro %}




{% macro course() %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Course",
  "name": "{{ get('H') }}",
  "description": "{{ get('P') }}",
  "provider": {
    "@type": "Organization",
    "name": "{{ get('H') }}",
    "sameAs": "{{ baseurl }}"
  }
}
</script>
{% endmacro %}


{# book #}
{% macro book() %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "breadcrumb": "Home > Books > Literature & Fiction > Classics",
  "mainEntity": {
    "@type": "Book",
    "author": "/author/jd_salinger.html",
    "bookFormat": "https://schema.org/Paperback",
    "datePublished": "1991-05-01",
    "image": "catcher-in-the-rye-book-cover.jpg",
    "inLanguage": "English",
    "isbn": "0316769487",
    "name": "The Catcher in the Rye",
    "numberOfPages": "224",
    "offers": {
      "@type": "Offer",
      "availability": "https://schema.org/InStock",
      "price": "6.99",
      "priceCurrency": "USD"
    },
    "publisher": "Little, Brown, and Company",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4",
      "reviewCount": "3077"
    },
    "review": [{
        "@type": "Review",
        "author": "John Doe",
        "datePublished": "2006-05-04",
        "name": "A masterpiece of literature",
        "reviewBody": "I really enjoyed this book. It captures the essential challenge people face as they try make sense of their lives and grow to adulthood.",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        }
      },
      {
        "@type": "Review",
        "author": "Bob Smith",
        "datePublished": "2006-06-15",
        "name": "A good read.",
        "reviewBody": "Catcher in the Rye is a fun book. It's a good book to read.",
        "reviewRating": "4"
      }
    ]
  }
}
</script>
{% endmacro %}

{% macro person () %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Seattle",
    "addressRegion": "WA",
    "postalCode": "98052",
    "streetAddress": "20341 Whitworth Institute 405 N. Whitworth"
  },
  "colleague": [
    "http://www.xyz.edu/students/alicejones.html",
    "http://www.xyz.edu/students/bobsmith.html"
  ],
  "email": "mailto:jane-doe@xyz.edu",
  "image": "janedoe.jpg",
  "jobTitle": "Professor",
  "name": "Jane Doe",
  "telephone": "(425) 123-4567",
  "url": "http://www.janedoe.com"
}
</script>
{% endmacro %}


{% macro podcast () %}
{% set url = baseurl | replace('//', '//podcasts.') %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "PodcastSeries",
  "image": "{{ url }}/inquisitive_artwork.png",
  "url": "{{ url }}/inquisitive",
  "name": "Inquisitive",
  "description": "Inquisitive is a show for the naturally curious. Each week, Myke Hurley takes a look at what makes creative people successful and what steps they have taken to get there.",
  "webFeed": "{{ url }}/inquisitive/feed",
  "author": {
    "@type": "Person",
    "name": "Myke Hurley"
  }
}
</script>
{% endmacro %}