<header class="page-header" role="banner">
  {% include './logo.njk' %}

  {# nav #}
  <nav role="navigation">
    <ul>
      <li><a href="">Lorem.</a></li>
      <li><a href="">Odit.</a></li>
      <li><a href="">Veniam.</a></li>
      <li><a href="">Iure.</a></li>
      <li><a href="">Id!</a></li>
      <li><a href="">Quia.</a></li>
      <li><a href="">A?</a></li>
    </ul>
  </nav>

  {# primary search #}
  <form action="post" role="search">
  </form>
</header>