<div class="branding" id="branding" 
  itemprop="publisher" 
  itemscope itemtype="http://schema.org/Organization"
  itemid="CompanyName">
  <a href="http://www.site.com" itemprop="url">
    <meta itemprop="legalName name" content="Company Name">
    <link itemprop="image" href="path/to/logo.png">
    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
      <img src="path/to/logo.png" alt="Company Name" itemprop="url" class="visually-hidden">
      <img src="path/to/logo.svg" alt="Company Name" width="320" height="60">
    </span>
  </a>
</div>