{% set page = 'home' %}
{% extends "parts/layout.njk" %}

{% block main %}
{% for item in ['facebook', 'twitter', 'google+', 'pinterest', 'linkedIn', 'bufferApp', 'digg', 'tumblr', 'reddit', 'stumbleUpon', 'xing', 'whatsapp', 'delicious', 'evernote', 'email', 'hackernews', 'vk', 'telegram', 'wordPress', 'pocket'] %}
  {% set link = mc.shareOn(item, url = 'http://sharingbuttons.io', title = 'Super fast and easy Social Media Sharing Buttons. No JavaScript. No tracking.') %}
  <a href="{{link}}" target="_blank" style="color: blue;">{{ item }}</a> <br>
{% endfor %}
{% endblock %}