<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pages</title>
  <style>
    body { margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    ul, ol { margin: 0; padding: 0; list-style: none; font-size: 1.4em; line-height: 1.5; }
    img { max-width: 100%; height: auto; }

    .pages { padding: 0 5%; }
    .tools { text-align: center; }
    .tools button { font-size: 16px; padding: 0 1.5em; height: 2.8em; border: 0; color: #fff; background: #000; border-radius: 3px; cursor: pointer; transition: background 0.25s; }
    .tools button:hover, .tools .on { background: #FD8008; }
    h2 { margin: 0; color: #000; font-size: 24px; }
    h2 a { display: block; max-width: 14em; margin: 0 auto; line-height: 2; text-decoration: none; color: inherit; }
    h2 a:hover { text-decoration: underline; }
    iframe {display: none; width: 100%; min-height: 300px; margin-bottom: 20px; }
    .error-wrapper { display: none; }
    .outline-wrapper { display: none; font-size: 14px; background: #f5f5f5; }

    .show-outline .outline-wrapper, 
    .show-error .error-wrapper { display: block; }
    [class*="show-"] li { margin-bottom: 50px; }
    [class*="show-"] h2 { border-bottom: 6px solid; }
    [class*="show-"] h2 a { max-width: none; padding: 10px 0; }
    [class*="show-"] h2:hover { color: #008040; }
    [class*="show-"] h2 a:hover { text-decoration: none; }
  </style>
</head>
<body>
  <div class="tools">
    <button class="js-error-toggle">Errors</button>
    <button class="js-outline-toggle">Document Outlines</button>
  </div>
  <ul class="pages">
    {% for item in pages %}
      <li>
        <h2><a href="{{ item }}.html" target="_blank">{{ item | capitalize }}</a></h2>

        <div class="error-wrapper">
          <img src="w3cErrors/screenshot/{{ item }}-error.png" alt="{{ item | capitalize }} Error">

          {% if errorPages and belongTo(item, errorPages) %}
          <iframe src="w3cErrors/W3C_Errors/{{ item }}html_validation-report.html" frameborder="0"></iframe>
          {% endif %}
        </div>

        <div class="outline-wrapper">
          <img src="w3cErrors/screenshot/{{ item }}-outline.png" alt="{{ item | capitalize }} Page Document Outline">
        </div>
      </li>
    {% endfor %}
  </ul>

  <script>
    var doc = document,
        pages = doc.querySelector('.pages'),
        errorToggle = doc.querySelector('.js-error-toggle'),
        outlineToggle = doc.querySelector('.js-outline-toggle');

    if (window.location.hostname === 'localhost') {
      pages.classList.add('show-error');
      errorToggle.classList.add('on');
      // pages.classList.add('show-outline');
      // outlineToggle.classList.add('on');
    }

    errorToggle.addEventListener('click', function() {
      pages.classList.toggle('show-error');
      errorToggle.classList.toggle('on');
    });

    outlineToggle.addEventListener('click', function() {
      pages.classList.toggle('show-outline');
      outlineToggle.classList.toggle('on');
    });
  </script>
</body>
</html>