<div class="branding" id="branding" 
  itemprop="publisher" 
  itemscope itemtype="http://schema.org/Organization"
  itemid="CompanyName">
  <a href="http://www.site.com" itemprop="url">
    <meta itemprop="legalName name" content="Company Name">
    <link itemprop="image" href="path/to/logo.png">
    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
      <img src="path/to/logo.png" alt="Company Name" itemprop="url" class="visually-hidden">
      <svg role="img" width="494" height="36"><use xlink:href="assets/svg/sprites.svg#logo" /></svg>
    </span>
  </a>
</div>